{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>문안하다 알림</title>

    <link rel="stylesheet" href="/static/css/home.css" />
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/alarm2.css" />
  </head>
  <body>
    <div class="mainFrame">
      <header class="logoBox">
        <div class="logoImgBox">
          <img src="/static/image/문안하다 로고.png" alt="로고 이미지" class="logoImg1"/>
          <img src="/static/image/문안하다 로고.png" alt="로고 이미지" class="logoImg2"/>
        </div>
      </header>
      <div class="subFrame">
            <div class="alarmTitle">
                알림
            </div>
            <div class="followRequest-box">
                <div class="box-title">
                    팔로우 요청
                </div>

                <div class="followRequest" id="followRequest">
                    <div class="request-icon">
                        <img src="{% static 'image/expression/bad-skyblue.png'%}" />
                    </div>
                    <div class="request-user">
                        <div class="user-nickname">중앙부기(아들)</div>
                        <div class="user-time">2시간 전</div>
                    </div>
                    <div class="complete-button">
                        <button>연결완료</button>
                    </div>
                </div>
                <div class="followRequest" id="followRequest">
                    <div class="request-icon">
                        <img src="{% static 'image/expression/bad-skyblue.png'%}" />
                    </div>
                    <div class="request-user">
                        <div class="user-nickname">중앙부기(아들)</div>
                        <div class="user-time">2시간 전</div>
                    </div>
                    <div class="complete-button">
                        <button>연결완료</button>
                    </div>
                </div>

                <div class="followRequest" id="receivedRequest">
                    <div class="request-icon">
                        <img src="{% static 'image/expression/bad-skyblue.png'%}" />
                    </div>
                    <div class="request-user">
                        <div class="user-nickname">중앙부기(아들)</div>
                        <div class="user-time">2시간 전</div>
                    </div>
                    <div class="button-container">
                        <input type="submit" class="accept-btn" name="{{request.id}}" value="수락">                
                        <input type="submit" class="reject-btn" name="{{request.id}}" value="거절"> 
                    </div>
                </div>
                <div class="followRequest" id="receivedRequest">
                    <div class="request-icon">
                        <img src="{% static 'image/expression/bad-skyblue.png'%}" />
                    </div>
                    <div class="request-user">
                        <div class="user-nickname">중앙부기(아들)</div>
                        <div class="user-time">2시간 전</div>
                    </div>
                    <div class="button-container">
                        <input type="submit" class="accept-btn" name="{{request.id}}" value="수락">                
                        <input type="submit" class="reject-btn" name="{{request.id}}" value="거절"> 
                    </div>
                </div>

            </div>
            <hr>

            <div class="todayMessage-box">
                <div class="box-title">
                    오늘 온 문안
                </div>
                <div class="messagebox">
                    <div class="request-icon">
                        <img src="{% static 'image/expression/soso white.png'%}" />
                    </div>
                    <div class="request-message">
                        <div class="request-timebox">
                            <div class="user-nickname">효도르(딸)</div>
                            <div class="messagetime"> 오후 18:02 </div>
                        </div>
                        <div class="receive-message">엄마 오늘 상사한테 혼났어 ㅠ</div>
                    </div>
                </div>
            </div>

            <div class="weekMessage-box">
                <div class="box-title">
                    이번주 온 문안
                </div>
                <div class="messagebox">
                    <div class="request-icon">
                        <img src="{% static 'image/expression/soso white.png'%}" />
                    </div>
                    <div class="request-message">
                        <div class="request-timebox">
                            <div class="user-nickname">효도르(딸)</div>
                            <div class="messagetime"> 오후 18:02 </div>
                        </div>
                        <div class="receive-message">엄마 오늘 상사한테 혼났어 ㅠ</div>
                    </div>
                </div>
                
            </div>
            <div class="monthMessage-box">
                <div class="box-title">
                    이번달 온 문안
                </div>
                <div class="messagebox">
                    <div class="request-icon">
                        <img src="{% static 'image/expression/soso white.png'%}" />
                    </div>
                    <div class="request-message">
                        <div class="request-timebox">
                            <div class="user-nickname">효도르(딸)</div>
                            <div class="messagetime"> 오후 18:02 </div>
                        </div>
                        <div class="receive-message">엄마 오늘 상사한테 혼났어 ㅠ</div>
                    </div>
                </div>
            </div>

      </div>
        <footer class="main-footer">
            <div class="footer-box">
            <button class="home-button">
                <img src="/static/image/homeLogo.svg" />
                <p id="red"><a href="{% url 'home' %}">홈</a></p>
            </button>
            <button class="save-button">
                <img src="/static/image/saveLogo.svg" />
                <p id="gray"><a href="{% url 'locker' %}">보관함</a></p>
            </button>
            <button class="alarm-button">
                <img src="/static/image/alarmLogo.svg" />
                <p id="gray"><a href="{% url 'alarm' %}">알림</a></p>
            </button>
            </div>
        </footer>
    </div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    //수락 
    $(".accept-btn").click(function(){
        var request_id = $(this).attr('name')

        $.ajax({
            type: 'POST',
            url: '{% url 'accept_connection_request' %}',
            data: {'request_id' : request_id, 'csrfmiddlewaretoken': '{{csrf_token}}'},
            dataType: 'json',
            success: function(response) {
                // Ajax 요청이 성공하면 여기서 화면 업데이트를 수행합니다.
                if (response.success) {
                    // 예를 들어, 연결된 계정 목록을 업데이트하는 등의 작업을 수행할 수 있습니다.
                    // 예시 코드:
                    alert("요청을 수락하셨습니다!")
                    $('#request_' + request_id).remove(); // 해당 요소 삭제
                }
            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    
    }) 

    //거절
    $(".reject-btn").click(function(){
        var request_id = $(this).attr('name');
        console.log(request_id);

        $.ajax({
            type: 'POST',
            url: '{% url 'reject_connection_request' %}',
            data: {'request_id' : request_id, 'csrfmiddlewaretoken': '{{csrf_token}}'},
            dataType: 'json',
            success: function(response) {
                // Ajax 요청이 성공하면 여기서 화면 업데이트를 수행합니다.
                if (response.success) {
                    // 예를 들어, 연결된 계정 목록을 업데이트하는 등의 작업을 수행할 수 있습니다.
                    // 예시 코드:
                    $('#request_' + request_id).remove(); // 해당 요소 삭제
                }
            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    }) 


</script>
</body>
</html>
