<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>알림</title>
</head>
<body>
    <h1>알림</h1>
    <h2>팔로우 요청</h2>
    {% comment %}요청 중{% endcomment %}
    <ul>
        {% for request in connection_requests %}
            <li>
                {{ request.to_user.name }} (관계: {{ request.relationship1 }}-{{ request.relationship2 }})
            </li>
        {% endfor %}
    </ul>
    {% comment %}요청 받음{% endcomment %}
    <ul>
        {% for request in connection_requests_received %}
            <li>
                {{ request.from_user.name }} (관계: {{ request.relationship1 }})
                <div class="button-container">
                    <input type="submit" class="accept-btn" name="{{request.id}}" value="수락">                
                    <input type="submit" class="reject-btn" name="{{request.id}}" value="거절">                
                </div>
            </li>
        {% endfor %}
    </ul>
    <hr>
    <h2>오늘 온 문안 <h2>
    
</body>
</html>