<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connection</title>
</head>
<body>
    <h1>소중한 분과의 계정을 연결해주세요.</h1>

    <h2>연결할 아이디</h2>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %} 
        <div>
            <input type="text" id="to_user" name="to_user" placeholder="계정을 연결할 소중한 분의 아이디를 입력해주세요.">
            <select name="relationship1" id="relationship1">
                <option value="none" hidden>관계1</option>
                <option value="father">아빠</option>
                <option value="mother">엄마</option>
                <option value="daughter">딸</option>
                <option value="son">아들</option>
                <option value="grandmother">할머니</option>
                <option value="grandfather">할아버지</option>
                <option value="grandson">손자</option>
                <option value="granddaughter">손녀</option>
            </select>
            <select name="relationship2" id="relationship2">
                <option value="none" hidden>관계2</option>
                <option value="father">아빠</option>
                <option value="mother">엄마</option>
                <option value="daughter">딸</option>
                <option value="son">아들</option>
                <option value="grandmother">할머니</option>
                <option value="grandfather">할아버지</option>
                <option value="grandson">손자</option>
                <option value="granddaughter">손녀</option>
            </select>
        </div>
        <div>
            <input type="submit" value="연결하기" id="submitButton1">
        </div>
    </form>

    {% if request.user.is_authenticated %}
        <div>
            {{ user.username }}님 환영합니다.
        </div>
        <a href="{% url 'accounts:logout' %}">로그아웃</a>
    {% endif %}
</body>
</html>