{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locker</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/locker.css' %}">
</head>
<body>
    <div class="mainFrame">
        <div class="subFrame">
            <h2>문안기록을 확인할 대상을 선택해주세요.</h2>
            
            <div id="connected-accounts">
                {% for account in connected_users %}
                    <div class="accountbox" data-id="{{ account.other_user.id }}" data-name="{{account.other_user.name}}"> 
                        <div class="accountimagebox">
                            <img src="{% static 'image/expression/munan.png' %}" alt="이미지 설명">
                        </div>
                        <div>{{ account.other_user.name }}</div>
                        <div>({{ account.relationship }})</div>
                    </div>
                {% empty %}
                    <div>연결된 계정이 없습니다.</div>
                {% endfor %}
            </div>

            <hr>

            <p id="selected-username">문안기록이 없어요. 먼저 문안인사를 드려봐요!</p>

            <div class="recordtotalbox">
                <div class="calendarbox">
                    <div class="Calendar1">
                        <div class="calendar">
                            <select id="monthSelect">
                                <!-- JavaScript를 사용하여 옵션을 동적으로 생성 -->
                            </select>
                        </div>
                        <div>
                            <div class="daysbox">
                                <div class="days">
                                    <!-- JavaScript를 사용하여 달력을 동적으로 생성 -->
                                </div>
                            </div>

                            <div class="dates">
                                <!-- JavaScript를 사용하여 달력을 동적으로 생성 -->
                            </div>
                        </div>

                    </div>
                </div>

                <div class="recordbox">
                    <div class="recordday">
                        <p>
                            <!-- JavaScript를 사용하여 옵션을 동적으로 생성 -->
                        </p>
                    </div>
                    <div class="selectedrecord">
                        <div class="expressionbox">
                            <img src="../../static/image/expression/empty.png" alt="이미지 설명">
                            <p class="expression">안좋아요</p>
                        </div>
                        <p class="ment">무난하지 않았던 이유</p>
                        <div class="reasonbox">
                            <div class="reason">
                                <img src="../../static/image/expression/empty.png" alt="이미지 설명">
                                <div class="reasonContent">
                                    <div>
                                        <div class="reasontype">
                                            식사
                                        </div>
                                        <div class="reasonment">
                                            입맛이 없었어... 시원한게 먹고 싶구나 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <p class="ment">00님에게 있었던 오늘의 기뻤거나 슬펐던 일</p>
                        <div class="todaycontent">
                            <p>
                                오늘 영기엄마랑 텃밭을 갔는데 고구마호박 따다가 인삼을 발견 했잖아,, 근데 너무 좋아한 나머지 심봤다하면서 방방 뛰다가 넘어졌어,,
                            </p>
                        </div>

                    </div>

                </div>
            </div>

            <a href="{% url 'home' %}">홈</a>
            <a href="{% url 'locker' %}">보관함</a>
            <a href="{% url 'alarm' %}">알림</a>
        </div>
    </div>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/javascript/locker.js"></script> <!-- 필요한 커스텀 자바스크립트 파일을 추가합니다 -->

<script>
    // 클릭 이벤트 핸들러 함수
    function handleAccountItemClick(event) {
        const accountId = event.currentTarget.getAttribute('data-id');
        const accountName = event.currentTarget.getAttribute('data-name');
        document.getElementById('selected-username').textContent = accountName + "님과의 문안기록이에요"; // 수정된 부분
    }

    // 클릭 이벤트 핸들러 추가
    const accountItems = document.querySelectorAll('.accountbox');
    accountItems.forEach(item => {
        item.addEventListener('click', handleAccountItemClick);
    });



</script>