{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
    <h1>{{user.name}}님과 연결된 계정</h1>
    <h2>연결 요청 중인 경우:</h2>
    <ul>
        {% for request in connection_requests %}
            <li>
                {{ request.to_user.name }} (관계: {{ request.relationship1 }}-{{ request.relationship2 }})
            </li>
        {% empty %}
            <li>연결 요청 중인 경우가 없습니다.</li>
        {% endfor %}
    </ul>

    <div id="received-accounts">
    <h2>연결 요청을 받은 경우:</h2>
    <ul>
        {% for request in connection_requests_received %}
            <li>
                {{ request.from_user.name }} (관계: {{ request.relationship1 }})
                <div class="button-container">
                    <input type="submit" class="accept-btn" name="{{request.id}}" value="수락">                
                    <input type="submit" class="reject-btn" name="{{request.id}}" value="거절">                
                </div>
            </li>
        {% empty %}
            <li>받은 연결 요청이 없습니다.</li>
        {% endfor %}
    </ul>
    </div>

    <div id="connected-accounts">
        <h2>연결 중인 계정과 관계 정보:</h2>
        <ul>
            {% for account in connected_users %}
                <li>{{ account.other_user_name }} (관계: {{ account.relationship }})</li>
            {% empty %}
                <li>연결된 계정이 없습니다.</li>
            {% endfor %}
        </ul>
    </div>
    <a href="{% url 'accounts:connection' %}">계정 더 연결하기</a>

</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    //수락 
    $(".accept-btn").click(function(){
        var request_id = $(this).attr('name')

        $.ajax({
            type: 'POST',
            url: '{% url 'accept_connection_request' %}',
            data: {'request_id' : request_id, 'csrfmiddlewaretoken': '{{csrf_token}}'},
            dataType: 'json',
            success: function(response) {
                // Ajax 요청이 성공하면 여기서 화면 업데이트를 수행합니다.
                if (response.success) {
                    // 예를 들어, 연결된 계정 목록을 업데이트하는 등의 작업을 수행할 수 있습니다.
                    // 예시 코드:
                    updateConnectRequest(response.connected_users, response.connection_requests_received);
                }
            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    
    }) 

    function updateConnectRequest(connectedUsers, receivedUsers) {
        // 연결 요청 받은거 업데이트
        var connectedAccountsElement = $('#received-accounts ul');
        connectedAccountsElement.empty(); // 기존 내용 제거
        if (receivedUsers.length > 0) {
            $.each(receivedUsers, function(index, account) {
                var listItem = $('<li>').text(account.from_user_name + ' (관계: ' + account.relationship2 + ')');
                    
                    var buttonContainer = $('<div>', {
                        'class': 'button-container',
                    }).appendTo(listItem);
        
                    $('<input>', {
                        'type': 'submit',
                        'class': "accept-btn",
                        'name': account.request_id,
                        'value': '수락',
                    }).appendTo(buttonContainer);
                    
                    $('<input>', {
                        'type': 'submit',
                        'class': "reject-btn",
                        'name': account.request_id,
                        'value': '거절',
                    }).appendTo(buttonContainer);
                    
                    connectedAccountsElement.append(listItem);
            });
            //수락 
            $(".accept-btn").click(function(){
                var request_id = $(this).attr('name')
        
                $.ajax({
                    type: 'POST',
                    url: '{% url 'accept_connection_request' %}',
                    data: {'request_id' : request_id, 'csrfmiddlewaretoken': '{{csrf_token}}'},
                    dataType: 'json',
                    success: function(response) {
                        // Ajax 요청이 성공하면 여기서 화면 업데이트를 수행합니다.
                        if (response.success) {
                            // 예를 들어, 연결된 계정 목록을 업데이트하는 등의 작업을 수행할 수 있습니다.
                            // 예시 코드:
                            updateConnectRequest(response.connected_users, response.connection_requests_received);
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                    }
                });
            
            }) 
            //거절
            $(".reject-btn").click(function(){
                var request_id = $(this).attr('name')

                $.ajax({
                    type: 'POST',
                    url: '{% url 'reject_connection_request' %}',
                    data: {'request_id' : request_id, 'csrfmiddlewaretoken': '{{csrf_token}}'},
                    dataType: 'json',
                    success: function(response) {
                        // Ajax 요청이 성공하면 여기서 화면 업데이트를 수행합니다.
                        if (response.success) {
                            // 예를 들어, 연결된 계정 목록을 업데이트하는 등의 작업을 수행할 수 있습니다.
                            // 예시 코드:
                            updateRejectRequest(response.connection_requests_received);
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                    }
                });
            }) 
        } else {
            var listItem = $('<li>').text('받은 연결 요청이 없습니다.');
            connectedAccountsElement.append(listItem);
        }

        //연결 중인 계정 업데이트
        var connectedAccountsElement = $('#connected-accounts ul');
        connectedAccountsElement.empty(); // 기존 내용 제거

        if (connectedUsers.length > 0) {
            $.each(connectedUsers, function(index, account) {
                var listItem = $('<li>').text(account.other_user_name + ' (관계: ' + account.relationship + ')');
                connectedAccountsElement.append(listItem);
            });
        } else {
            var listItem = $('<li>').text('연결된 계정이 없습니다.');
            connectedAccountsElement.append(listItem);
        }
    }

    //거절
    $(".reject-btn").click(function(){
        var request_id = $(this).attr('name')

        $.ajax({
            type: 'POST',
            url: '{% url 'reject_connection_request' %}',
            data: {'request_id' : request_id, 'csrfmiddlewaretoken': '{{csrf_token}}'},
            dataType: 'json',
            success: function(response) {
                // Ajax 요청이 성공하면 여기서 화면 업데이트를 수행합니다.
                if (response.success) {
                    // 예를 들어, 연결된 계정 목록을 업데이트하는 등의 작업을 수행할 수 있습니다.
                    // 예시 코드:
                    updateRejectRequest(response.connection_requests_received);
                }
            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    }) 

    function updateRejectRequest(receivedUsers) {
        // 연결 요청 받은거 업데이트
        var connectedAccountsElement = $('#received-accounts ul');
        connectedAccountsElement.empty(); // 기존 내용 제거
        if (receivedUsers.length > 0) {
            $.each(receivedUsers, function(index, account) {
                var listItem = $('<li>').text(account.from_user_name + ' (관계: ' + account.relationship2 + ')');
                    
                    var buttonContainer = $('<div>', {
                        'class': 'button-container',
                    }).appendTo(listItem);
        
                    $('<input>', {
                        'type': 'submit',
                        'class': "accept-btn",
                        'name': account.request_id,
                        'value': '수락',
                    }).appendTo(buttonContainer);
                    
                    $('<input>', {
                        'type': 'submit',
                        'class': "reject-btn",
                        'name': account.request_id,
                        'value': '거절',
                    }).appendTo(buttonContainer);
                    
                    connectedAccountsElement.append(listItem);
            });

            //수락 
            $(".accept-btn").click(function(){
                var request_id = $(this).attr('name')
        
                $.ajax({
                    type: 'POST',
                    url: '{% url 'accept_connection_request' %}',
                    data: {'request_id' : request_id, 'csrfmiddlewaretoken': '{{csrf_token}}'},
                    dataType: 'json',
                    success: function(response) {
                        // Ajax 요청이 성공하면 여기서 화면 업데이트를 수행합니다.
                        if (response.success) {
                            // 예를 들어, 연결된 계정 목록을 업데이트하는 등의 작업을 수행할 수 있습니다.
                            // 예시 코드:
                            updateConnectRequest(response.connected_users, response.connection_requests_received);
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                    }
                });
            
            }) 
            //거절
            $(".reject-btn").click(function(){
                var request_id = $(this).attr('name')

                $.ajax({
                    type: 'POST',
                    url: '{% url 'reject_connection_request' %}',
                    data: {'request_id' : request_id, 'csrfmiddlewaretoken': '{{csrf_token}}'},
                    dataType: 'json',
                    success: function(response) {
                        // Ajax 요청이 성공하면 여기서 화면 업데이트를 수행합니다.
                        if (response.success) {
                            // 예를 들어, 연결된 계정 목록을 업데이트하는 등의 작업을 수행할 수 있습니다.
                            // 예시 코드:
                            updateRejectRequest(response.connection_requests_received);
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                    }
                });
            }) 
            
        } else {
            var listItem = $('<li>').text('받은 연결 요청이 없습니다.');
            connectedAccountsElement.append(listItem);
        }

    }
    
</script>
</html>