<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문안하다 답변하기</title>
    <link rel="stylesheet" href="/static/css/mainFrame.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/home-record.css">
</head>
<body>
    <div class="mainFrame">
        <!-- <footer>
            <div class="logoBox">
                <img src="/static/image/문안하다 로고.png" alt="로고 이미지" class="logoImg1">
                <img src="/static/image/문안하다 로고.png" alt="로고 이미지" class="logoImg2">
            </div>
        </footer> -->
        <div class="recordTextBox">
            <p class="recordText">행복한 하루를 보내셨나요?</p>
            <p class="recordSubText"><span class="mainUserId">효도르</span>님의 사소한 일상이 궁금해요!</p>
        </div>
        <div class="selecFaceBox">
            <p class="selectFaceText">오늘 하루를 표정으로 표현해주세요.</p>
            <div class="selectFaceImgBox">
                <div class="Face goodBox">
                    <img src="/static/image/good.svg" alt="최고 이미지" class="goodImg">
                    <p class="goodText">최고예요</p>
                </div>
                <div class="Face okayBox">
                    <img src="/static/image/okay.svg" alt="무난한 이미지" class="okayImg">
                    <p class="okayText">무난해요</p>
                </div>
                <div class="Face sosoBox">
                    <img src="/static/image/soso.svg" alt="그럭저럭 이미지" class="sosoImg">
                    <p class="sosoText">그럭저럭</p>
                </div>
                <div class="Face badBox">
                    <img src="/static/image/bad.svg" alt="안좋아요 이미지" class="badImg">
                    <p class="badText">안좋아요</p>
                </div>
                <div class="Face worseBox">
                    <img src="/static/image/worse.svg" alt="나빠요 이미지" class="worseImg">
                    <p class="worseText">나빠요</p>
                </div>
            </div>
            <div class="emotionBox">
                <p class="emotionText">기뻤거나 슬펐던 일이 있었다면 들려주세요.</p>
                <textarea name="" id="receiveEmotionText" cols="30" rows="10"></textarea>
            </div>
        </div>
    </div>

    <script src="/static/javascript/home-recorde.js"></script>
</body>
</html>