{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>문안하다 계정 연결 세부정보 입력</title>
    <link rel="stylesheet" href="/static/css/accountConnectDetailBirth.css" />
    <link rel="stylesheet" href="/static/css/mainFrame.css" />
  </head>

  <body>
    <form method="POST">
      {% csrf_token %}
      <div class="mainFrame">
        <div class="step-bar">
          <progress id="progress" value="25" min="0" max="100"></progress>
          <div class="icon-wrapper">
              <img src="/static/image/Shape.svg" class="progress-drop" alt="progressDrop">
              <p id="drop-text">1</p>
          </div>
          <img src="/static/image/Group 2059.svg" class="progress-circle" alt="progressCircle" />
        </div>
        <div class="user-birth-box">
          <div class="user-birth-info">
            <span id="user-name">호두마루11</span><span id="user-text">님의 생일을 알려주세요.</span>
            <p id="user-warn">만 나이를 기준으로 정보가 제공됩니다.</p>
          </div>
          <div class="user-birth-detail">
            <p id="birth-box">
              <span><img src="/static/image/Line 1057.svg" alt="바 이미지" /></span>
              <span id="birth-detail">2001</span>
              <span><img src="/static/image/Line 1057.svg" alt="바 이미지" /></span>
              <span id="birth-detail">02</span>
              <span><img src="/static/image/Line 1057.svg" alt="바 이미지" /></span>
              <span id="birth-detail">26</span>
              <span><img src="/static/image/Line 1057.svg" alt="바 이미지" /></span>
            </p>
          </div>
        </div>
        <div class="user-gender-box">
          <div class="user-gender-text">
            <p>
              <span id="user-name">호두마루11</span><span id="user-text">님의 성별을 알려주세요.</span>
            </p>
          </div>
          <div class="user-gender-button">
            <button class="accountConntect-gender-male" id="male-button" onclick="selectGender('male')">남자</button>
            <button class="accountConntect-gender-female" id="female-button" onclick="selectGender('female')">여자</button>
          </div>
        </div>
        <div class="step-button">
          <button class="step-before">이전 단계</button>
          <button class="step-next">다음 단계</button>
        </div>
      </div>
    </form>

    <script src="/static/javascript/accountConnectDetail.js"></script>
  </body>
</html>