{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>문안하다 약 복용 시</title>
    <link rel="stylesheet" href="/static/css/mainFrame.css" />
    <link rel="stylesheet" href="/static/css/accountBirth.css" />
    <link rel="stylesheet" href="/static/css/drugAsk.css" />
    <link rel="stylesheet" href="/static/css/drugYes.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <div class="mainFrame">
        <div class="step-bar-drug">
          <progress id="progress" value="100" min="0" max="100"></progress>
          <div class="icon-wrapper">
            <img src="/static/image/Shape.svg" class="progress-drop" alt="progressDrop" />
            <p id="drop-text">3</p>
          </div>
          <img src="/static/image/Group 2059.svg" class="progress-circle" alt="progressCircle" />
        </div>
        <div class="birth-info-box">
          <span class="black-text">복용중인 약 및 영양제가 있으신가요?</span>
          <p class="gray-text">매일 적절한 복용 시간대에 알림을 드릴게요.</p>
        </div>
        <div class="drug-ask-box">
          <div class="drug-ask-box-yes">
            <input type="radio" id="drug-yes" name="med_or_nutr_status" value="True" />
            <label for="drug-yes">
              <div class="drug-content-wrapper">
                <span>복용중인 약 및 영양제가 있어요.</span>
                <img src="/static/image/Ellipse 82 gray.svg" alt="원형 이미지" />
                <img src="/static/image/Done.svg" alt="체크 이미지" />
              </div>
            </label>
          </div>
          <div class="drug-ask-box-no">
            <input type="radio" id="drug-no" name="med_or_nutr_status" value="False" />
            <label for="drug-no">
              <div class="drug-content-wrapper">
                <span>복용중인 약 및 영양제가 없어요.</span>
                <img src="/static/image/Ellipse 82 gray.svg" alt="원형 이미지" />
                <img src="/static/image/Done.svg" alt="체크 이미지" />
              </div>
            </label>
          </div>
        </div>
        <div class="three-circle-box">
          <img src="/static/image/Group 2088.svg" alt="threeCircle" />
        </div>
        <div class="user-drug-box">
          <span class="black-text">복용중인 <span class="red-text">약</span>을 선택해주세요.</span>
          <div class="user-drug-content" id="medication-list">
            {% for label, value in medication_choices %}
            <button type="button" class="user-drug-button" name="medication" data-medication="{{ label }}">{{ value }}</button>
            {% endfor %}
            <form id="medication-form">
              <input type="text" id="medication-input" placeholder="직접입력" />
            </form>
          </div>
        </div>

        <div class="user-nutri-box">
          <span class="black-text">복용중인 <span class="red-text">영양제</span>를 선택해주세요.</span>
          <div class="user-nutri-content" id="nutrition-list">
            {% for label,value in nutrition_choices %}
            <button type="button" class="user-nutri-button" name="nutrition" data-nutrition="{{ label }}">{{ value }}</button>
            {% endfor %}
            <form id="nutri-form">
              <input type="text" id="nutri-input" placeholder="직접입력" />
            </form>
          </div>
        </div>

        <div class="user-choice-box">
          <span class="black-text">내가 선택한 약과 영양제</span>
          <div class="user-choice-contents"></div>
        </div>

        <div class="step-box" id="choice-complete">
          <button type="button" class="before-step"><a href="{% url 'accounts:drug_ask' %}">이전 단계</a></button>
          <button type="submit" class="next-step">선택 완료</button>
        </div>
    </div>
    <form action="{% url 'home' %}" method="POST">
      {% csrf_token %}
    </form>
    <script src="/static/javascript/drugAsk.js"></script>
    <script src="/static/javascript/drugYes.js"></script>
  </body>
</html>

