{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문안하다 회원가입하기</title>
    <link rel="stylesheet" href="/static/css/join.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="mainFrame">
        <header>
            <h1>회원가입</h1>
        </header>
        <form action="" class="join" method="POST">
        {% csrf_token %}
            <div class="nameBox">
                <p class="mainText">이름</p>
                <input type="text" name="name" placeholder="이름을 입력해주세요.">
            </div>
            <div class="idBox">
                <p class="mainText">아이디</p>
                <input type="text" name="user_id" placeholder="아이디를 입력해주세요." id="idField" oninput="checkId()">
                <img src="/static/image/Group 1991.svg" alt="체크 이미지" class="checkImg">
                <p class="checkTextId">사용 가능한 아이디입니다.</p>
            </div>
            <div class="passwordBox">
                <p class="mainText">비밀번호</p>
                <input name="password" type="password" placeholder="비밀번호를 입력해주세요." id="passwordFeild" oninput="checkPassword()">
                <img src="/static/image/Group 1991.svg" alt="체크 이미지" class="checkImg">
                <img src="/static/image/Visibility off.svg" alt="눈 가리기" class="hiddenImg1" onclick="togglePasswordVisiblity()">
                <p class="checkTextPassword">사용 가능한 비밀번호입니다.</p>
            </div>
            <div class="passwordBox">
                <p class="mainText">비밀번호 확인</p>
                <input type="password" name="password-repeat" placeholder="비밀번호를 입력해주세요." id="passwordCheckFeild" oninput="checkPasswordRepeat()">
                <img src="/static/image/Group 1991.svg" alt="체크 이미지" class="checkImg">
                <img src="/static/image/Visibility off.svg" alt="눈 가리기" class="hiddenImg2" onclick="togglePasswordCheckVisiblity()">
                <p class="checkTextPasswordRepeat">비밀번호가 일치합니다.</p>
            </div>
            <div class="buttonBox">
                <button type="submit" class="joinButton">회원가입 하기</button>
            </div>
        </form>
    </div>

    <script src="/static/javascript/account.js"></script>
    <script src="/static/javascript/check.js"></script>
</body>

</html>
