/*팔로우 요청*/
.munan-alarm-box {
    margin-top: 53px;
}

.follow-request-box{ 
    margin-top: 40px;
}

.munan-alarm-box #alarm-title {
    /*알림 폰트*/
    margin: 0;
    color: var(--unnamed, #FF003A);
    font-size: 36px;
    font-weight: 700;
}

.follow-request-box #follow-request-title {
    color: var(--unnamed, #17181A);
    font-size: 32px;
    font-weight: 700;
    margin: 0; 
}

.request-list {
    margin-top: 20px;
}

.request-complete-1,.request-complete-2, 
 .request-surak-1,.request-surak-2,.request-reject-1,.request-reject-2{
    justify-content: center;
    display: flex;
align-items: flex-start;
gap: 20px;
align-items: center; 

background-color: lightgreen;
}

.request-user {
    margin-left: 20px;
}

.request-user #user-nickname {
    color: var(--unnamed, #17181A);
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.request-user #user-time {
    color: var(--1, #959AA4);
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}

.complete-button{ 
    margin-left: 233px;
}

.complete-button button {
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    color: var(--1, #959AA4);
    font-size: 24px;
    font-weight: 700;
    border-radius: 30px;
background: var(--unnamed, #F2F6FF);
}


.button-container{ 
    margin-left: 172px;
}

.button-container input {
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 30px;

    color: var(--unnamed, #F2F6FF);
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.accept-btn{ 
background: var(--unnamed, #FF003A);
margin-left: 20px;
}

.reject-btn{ 
    background: var(--1, #959AA4);
}

.accept-btn-2{ 
    background: var(--1, #959AA4);
    margin-left: 20px;
    }
    
    .reject-btn-2{ 
       
        background: var(--unnamed, #FF003A);
    }

/*알림 서로의 margin값*/
.request-complete-2,.request-surak-1,.request-surak-2,.request-reject-1,.request-reject-2{ 
    margin-top: 20px;
    
}

.line{ 
    stroke-width: 2px;
stroke: var(--2, #E3E9F6);
margin-top: 60px;
}

/*오늘 온 문안*/
.today-munan-box{ 
    margin-top: 40px;
}

.today-munan-box #today-munan-title{ 
    color: var(--unnamed, #17181A);
font-size: 32px;
font-weight: 700;
margin: 0;
}

.today-list{ 
    margin-top: 20px;
    border-radius: 20px;
background: var(--unnamed, #F2F6FF);height: 354px;
flex-shrink: 0;
}

.arrow-box button{ 
    margin-left: 590px;
    margin-top: 21px;
    background: none;
    border: none;
}

.munan-message{
    margin-bottom: 20px;
    margin-left: 20px;
    display: flex;
}

.message-user-box{ 
    margin-left: 21px;
    display: flex;
    flex-direction: column;
}

.message-user-info{ 
    display: flex;
    align-items: center;
    margin: 0;
}

.message-user-info p{ 
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.user-name{ 
    color: var(--unnamed, #17181A);
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 32px;
}

.message-time{ 
    color: var(--1, #959AA4);
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.message-text{ 
    color: var(--unnamed, #17181A);
font-family: Pretendard;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 150% */
margin-top: 8px;
}

/*이번주 온 문안*/
.week-munan-box{ 
    margin-top: 60px;
}

.week-munan-box #today-munan-title{ 
    color: var(--unnamed, #17181A);
font-size: 32px;
font-weight: 700;
}

.week-list{ 
    margin-top: 20px;
    border-radius: 20px;
background: var(--unnamed, #F2F6FF);
height: 154px;
flex-shrink: 0;
}