/*약 복용 여부 버튼*/
.drug-ask-box {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.drug-ask-box input[type="radio"] {
    display: none;
}

.drug-ask-box-yes,
.drug-ask-box-no {
    width: 614px;
    height: 160px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--unnamed, #F2F6FF);
    color: var(--unnamed, #17181A);
    font-size: 24px;
    font-weight: 700;
}

.drug-ask-box input[type="radio"]:checked+label span {
    background: #FF003A;
    color: #F2F6FF;
}

.drug-ask-box-yes img, .drug-ask-box-no img {
    position: absolute;
  }

  .ellipse-image {
    top: 0;
    left: 0;
  }

  .check-image {
    top: 0;
    right: 0;
  }
/*진행바*/
.step-bar-drug {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.step-bar-drug img.progress-circle {
    position: absolute;
    top: 15;
    left: 100%;
    transform: translateX(-50%);
    z-index: 1;
}

.icon-wrapper {
    position: absolute;
    bottom: 200%;
    left: 100%;
    transform: translateX(-50%);
    z-index: 1;
}

#drop-text {
    display: flex;
    width: 18px;
    height: 19px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.5px;
}

.icon-wrapper p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

progress {
    width: 100%;
    appearance: none;
}

#progress::-webkit-progress-bar {
    background: #E3E9F6;
    border-radius: 10px;
}

#progress::-webkit-progress-value {
    border-radius: 10px;
    background-color: #FF003A;
    z-index: 0;
}