.three-circle-box {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.user-drug-box {
    margin-top: 60px;
}

.user-drug-contents {
    margin-top: 20px;
}

.user-nutri-box {
    margin-top: 60px;
}

.user-nutri-contents {
    margin-top: 20px;
}

.user-choice-box {
    margin-top: 60px;
}

.user-choice-contents {
    margin-top: 20px;
}

/*단계 버튼 bottom 마진*/
.mainFrame #choice-complete {
    margin-bottom: 215px;
}

/*복용중인 약 버튼 css*/
.user-drug-content {
    margin-top: 20px;
    width: 596px;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    transition: max-height 0.3s ease-in-out;
}

.user-drug-content button {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 50px;
    background: var(--unnamed, #F2F6FF);
    color: var(--unnamed, #17181A);
    font-size: 24px;
    font-weight: 400;
    border: none;
}

.user-drug-content button:active {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 50px;
    background: var(--unnamed, #FF003A);
    color: var(--unnamed, #F2F6FF);
    font-size: 24px;
    font-weight: 400;
    border: none;
}

#medication-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 50px;
    background: var(--unnamed, #F2F6FF);
    color: var(--unnamed, #17181A);
    font-size: 24px;
    font-weight: 400;
    border: none;
    padding: 20px;
    justify-content: center;
}

/*복용중인 영양제 버튼 css*/
.user-nutri-content {
    margin-top: 20px;
    width: 596px;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    transition: max-height 0.3s ease-in-out;
}

.user-nutri-content button {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 50px;
    background: var(--unnamed, #F2F6FF);
    color: var(--unnamed, #17181A);
    font-size: 24px;
    font-weight: 400;
    border: none;
}

.user-nutri-content button:active {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 50px;
    background: var(--unnamed, #FF003A);
    color: var(--unnamed, #F2F6FF);
    font-size: 24px;
    font-weight: 400;
    border: none;
}

#nutri-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 50px;
    background: var(--unnamed, #F2F6FF);
    color: var(--unnamed, #17181A);
    font-size: 24px;
    font-weight: 400;
    border: none;
    padding: 20px;
    justify-content: center;
}

/*내가 선택한 약과 영양제*/
.user-choice-contents {
    margin-top: 20px;
    width: 596px;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    transition: max-height 0.3s ease-in-out;
}

.user-choice-contents button {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 50px;
    background: var(--unnamed, #FF003A);
    color: var(--unnamed, #F2F6FF);
    font-size: 24px;
    font-weight: 400;
    border: none;
}

a {
    text-decoration: none;
    color: inherit; 
}

a:hover {
    color: inherit;
}

.user-drug-button.selected {
    background: var(--unnamed, #FF003A);
    color: var(--unnamed, #F2F6FF);
}

.user-nutri-button.selected {
    background: var(--unnamed, #FF003A);
    color: var(--unnamed, #F2F6FF);
}

.selected.selected {
    background: var(--unnamed, #FF003A);
    color: var(--unnamed, #F2F6FF);
}