/*약 복용 여부 버튼*/
.drug-ask-box {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.drug-ask-box input[type="radio"] {
    display: none;
}


.drug-ask-box-no,
.drug-ask-box-yes {
    width: 614px;
    height: 160px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--unnamed, #F2F6FF);
    color: var(--unnamed, #17181A);
    font-size: 24px;
    font-weight: 700;
}

.drug-ask-box-yes-2{
    width: 614px;
    height: 160px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--unnamed, #FF003A);
    color: var(--unnamed, #F2F6FF);
    font-size: 24px;
    font-weight: 700;
}

.drug-content-wrapper {
    display: flex;
    align-items: center;
    margin-left: 69px;
    margin-top: 66px;
    position: relative;
}

.drug-content-wrapper span {
    margin-right: 50px;

}

.drug-ask-box-yes .drug-content-wrapper img,
.drug-ask-box-yes-2 .drug-content-wrapper img,
.drug-ask-box-no .drug-content-wrapper img {
    position: absolute;
    left: 0;
    margin-left: 450px;
    margin-top: 0px;
}

.drug-ask-box-yes .drug-content-wrapper img:last-child,
.drug-ask-box-yes-2 .drug-content-wrapper img:last-child,
.drug-ask-box-no .drug-content-wrapper img:last-child {
    left: 5px;
}

/*진행바*/
.step-bar-drug {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 80px;
}

.step-bar-drug img.progress-circle {
    position: absolute;
    top: 15;
    left: 100%;
    transform: translateX(-50%);
    z-index: 1;
}

.icon-wrapper {
    position: absolute;
    bottom: 200%;
    left: 100%;
    transform: translateX(-50%);
    z-index: 1;
}

#drop-text {
    display: flex;
    width: 18px;
    height: 19px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.5px;
}

.icon-wrapper p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

progress {
    width: 100%;
    appearance: none;
}

#progress::-webkit-progress-bar {
    background: #E3E9F6;
    border-radius: 10px;
}

#progress::-webkit-progress-value {
    border-radius: 10px;
    background-color: #FF003A;
    z-index: 0;
}

a {
    text-decoration: none;
    color: inherit; 
}

a:hover {
    color: inherit;
}