/*전체 Frame 시작!*/
* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.mainFrame {
    background: #FFF;
    width: 50%;
    position: relative;
}

.subFrame {
    padding: 5%;
}

button {
    border: none;
    background: none;
}

/*각자의 margin값*/
.who_message,
.today_munan,
.daily_health {
    margin-top: 3.75rem;
}

.munan_message,
.who_message,
.today_munan,
.daily_health,
.munan_contents,
.main-box {
    width: 100%;
}

/*전체 Frame 끝*/

/*header base.css 대체*/
/*footer base.css 대체*/

/*main 시작*/
/*오늘 000님에게 온 문안 메세지*/
.munan_title {
    display: flex;
    align-items: center;
}

.title_content {
    display: flex;
    align-items: center;
    margin-right: 6rem;
    /* 원하는 margin-right 값으로 조정 */
}

.munan_title #today_message {
    color: var(--unnamed, #FF003A);
    font-size: 2.25rem;
    font-weight: 700;
    margin: 0;
    margin-right: 6rem;
    /* p와 button 간격을 주기 위해 추가 */
}

.munan_title #message_count {
    width: 3.43rem;
    height: 2.12rem;
    display: inline-flex;
    padding: 0.3125rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rm;
    border-radius: 1.25rem;
    background: var(--unnamed, #FF003A);
    color: var(--unnamed, #F2F6FF);
    font-size: 1.25rem;
    font-weight: 700;
    border: none;
}

/*real 메세지 박스*/
.munan_contents {
    height: 8.25rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: var(--unnamed, #F2F6FF);
    margin-top: 1.25rem;
    display: flex;
    padding-top: 1.25rem;
    align-items: flex-start;
}

.user-icon {
    margin-left: 1.25rem;
    align-self: flex-start;
}

.user-text {
    margin-left: 0.88rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info #user-name {
    color: var(--unnamed, #17181A);
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.user-info #day {
    color: var(--1, #959AA4);
    font-size: 1rem;
    font-weight: 400;
    margin-left: 0.88rem;
    margin-top: 1.88rem;
    margin-bottom: 0;
    margin-right: 0;
}

.user-message {
    color: var(--unnamed, #17181A);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.875rem;
    margin-top: 0.5rem;
    width: 13rem;
    max-height: 3.75rem;
    overflow: hidden;
}

.call-button {
    margin-left: auto;
    align-self: flex-end;
    margin-right: 1.25rem;
    margin-bottom: 3.25rem;
}

.call-button button {
    width: 6.25rem;
    height: 3.75rem;
    flex-shrink: 0;
    border-radius: 2.5rem;
    background: var(--unnamed, #FF003A);
    color: var(--unnamed, #F2F6FF);
    font-size: 1.25rem;
    font-weight: 700;
    white-space: nowrap;
    /* 텍스트가 줄 바꿈되지 않도록 설정 */
    overflow: hidden;
    /* 넘치는 부분은 숨기기 */
    text-overflow: ellipsis;
    /* 넘치면 생략 부호(...) 표시 */
    cursor: pointer;
    /* 마우스 커서를 포인터로 변경 */
}

/*누구에게 문안인사를 해볼까요?*/
.who_message #today_message {
    color: var(--unnamed, #FF003A);
    font-size: 2.25rem;
    font-weight: 700;
    margin: 0;
}

.user-account-icon {
    margin-top: 1.25rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
    flex-wrap: wrap;
    /* 수정된 부분: 가로 줄바꿈 설정 추가 */
}


.user-account-icon button {
    background: none;
    border: none;
    padding: 0;
}

.account {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 3%;
}

.account button {
    background: none;
    border: none;
    padding: 0;
    position: relative;
    height: 6.25rem;
}

.account button img {
    width: 100%;
    height: 100%;
}

.account button.selected {
    border: 0.2rem solid red;
    border-radius: 0.8rem;

    width: 100%;
    height: 6.25rem;
}

.account p {
    color: var(--unnamed, #17181A);
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0.5rem;
    width: max-content;
    margin: 0;
}

.account #plus {
    color: var(--1, #959AA4);
    margin-top: 0.5rem;
}

.overlap-button {
    margin-right: 0;
    position: relative;
}

.user-account-icon p {
    color: var(--unnamed, #17181A);
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0.5rem;
}

#overlap-button img:nth-child(2) {
    /* 이미지 겹치기 설정 */
    position: absolute;
    top: 50%;
    left: -50%;
}


/*클릭 한번으로 보내는 오늘의 문안인사*/
.click-munan {
    margin-top: 1.94rem;
    display: flex;
    flex-direction: column;
}

.click-munan #click-munan-title {
    color: var(--unnamed, #17181A);
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.munan-list {
    width: 100%;
    height: 8.25rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: var(--unnamed, #F2F6FF);
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 1.25rem;
}

.munan-list-text {
    position: absolute;
    left: 5%;
    color: var(--unnamed, #17181A);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.125rem;
    margin-right: 2.5rem;
    width: calc(100% - 168px);
    /* 수정된 부분: 텍스트의 최대 너비 설정 */
    max-height: 68px;
    /* 수정된 부분: 텍스트의 최대 높이 설정 */
    overflow: hidden;
    /* 텍스트 넘치는 부분은 숨기기 */
    text-overflow: ellipsis;
    /* 넘치면 생략 부호(...) 표시 */
}

.munanDropdownImg {
    width: 0.92rem;
    height: 1.5rem;
    flex-shrink: 0;
    fill: var(--unnamed, #17181A);
    position: absolute;
    right: 5%;
    cursor: pointer;
}

.munan-menu-list {
    width: 100%;
    position: absolute;
    top: 100%;
    border-radius: 10px;
    background: var(--2, #E3E9F6);
    border-top: 1px solid var(--unnamed, #F2F6FF);
    z-index: 1;
    display: none;
}

.munan-menu-list-detail {
    list-style: none;
    margin: 2.5rem 0;
}

.munan-menu-list-detail li {
    margin-top: 2.5rem;
    color: var(--unnamed, #17181A);
    font-size: 1.5rem;
    font-weight: 400;
    transition: color 0.3s;
    cursor: pointer;
}

.munan-menu-list-detail li:hover,
.munan-menu-list-detail li:focus {
    color: #FF003A;
    font-weight: 700;
}

.munan-menu-list-detail #user-text {
    color: var(--1, #959AA4);
    font-weight: 400;
}

#customContentInput {
    background: var(--2, #E3E9F6);
    border: none;
    width: 80%;
    height: 2.12rem;
    font-size: 1.5rem;
}

.registerImg {
    cursor: pointer;
}

#customContentInput::placeholder {
    color: var(--1, #959AA4);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.125rem;
}

/*전송하기 버튼*/
.sand-box {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sand-box button {
    margin-top: 3.75rem;
    width: 26.25rem;
    height: 3.75rem;
    flex-shrink: 0;
    border-radius: 1.875rem;
    background: var(--unnamed, #FF003A);
    color: var(--unnamed, #F2F6FF);
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 700;
}

/* pop up */
.sendPopUp {
    width: 26.25rem;
    height: 15rem;
    flex-shrink: 0;
    border-radius: 3.125rem;
    background: var(--unnamed, #F2F6FF);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: absolute;
    top: 25%;
    left: 10%;
}

.sendPopUpContent {
    color: var(--unnamed, #17181A);
    text-align: center;
    font-family: Pretendard;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
    /* 166.667% */
    position: absolute;
    top: 5%;
}

.sendConfirmBox {
    display: inline-flex;
    padding: 0.25rem 2.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    position: absolute;
    bottom: 0;
}

.sendConfirmBox .sendConfirmButton {
    color: var(--unnamed, #F2F6FF);
    text-align: center;
    font-family: Pretendard;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
    /* 200% */
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 3.125rem;
    background: var(--unnamed, #FF003A);
    width: 7.15rem;
    height: 3rem;
}

/*잠깐! 오늘 하루, 무난했나요?*/
.today_munan {
    width: 100%;
    height: 23rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: var(--unnamed, #F2F6FF);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.today-question {
    color: var(--unnamed, #FF003A);
    font-size: 2.25rem;
    font-weight: 700;
    margin-top: 1.25rem;
}

.check-myday {
    margin-top: 1.25rem;
}

.check-myday button {
    background: none;
    border: none;
    width: 26.25rem;
    height: 3.75rem;
    flex-shrink: 0;
    border-radius: 1.875rem;
    background: var(--unnamed, #FF003A);
    color: var(--unnamed, #F2F6FF);
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 700;
}


.feel-icon {
    display: flex;
    align-items: center;
    gap: 1rem;
    /* 이미지 사이의 간격 조정 */
    margin-top: 2rem;
    overflow-x: auto;
    /* 가로 스크롤 생성 */
    white-space: nowrap;
    /* 줄 바꿈 방지 */
}

.expressionImg {
    width: auto;
    /* 이미지 너비 설정 */
    height: auto;
    /* 이미지 높이 설정 */
    flex-shrink: 0;
    /* 이미지가 줄어들지 않도록 설정 */
}

/*간단하게 표시하는 나의 건강한 일상*/
.daily_health {
    margin-top: 3.75rem;
}

.daily_health p {
    color: var(--unnamed, #FF003A);
    font-size: 2.25rem;
    font-weight: 700;
    margin: 0;
}

.eat-drug-box {
    width: 100%;
    height: 5rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: var(--unnamed, #F2F6FF);
    margin-top: 1.25rem;
}

.eat-drug-contents {
    display: flex;
    align-items: center;
}

.eat-drug-contents #eat-info {
    color: #000;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.eat-info-box {
    margin-top: 1.25rem;
    margin-left: 1.25rem;
    flex-grow: 1;
    white-space: nowrap;
    /* 텍스트 줄 바꿈 방지 */
    text-overflow: ellipsis;
    /* 넘치면 생략 부호(...) 표시 */
}

.eat-drug-btn {
    height: 3.125rem;
    flex-shrink: 0;
    border-radius: 1.875rem;
    background: var(--1, #959AA4);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.94rem;
    margin-right: 1.25rem;
}

.eat-drug-btn #text-not-yet {
    color: var(--unnamed, #F2F6FF);
    font-size: 20px;
    font-weight: 400;
}

.user-drug-list {
    margin-top: 1.25rem;
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.user-drug-list button {
    border-radius: 1.875rem;
    background: var(--2, #E3E9F6);
    color: var(--unnamed, #17181A);
    font-size: 1.25rem;
    font-weight: 400;

    white-space: nowrap;
    /* 줄 바꿈 방지 */
}

.user-drug-list #detail-drug {
    border-radius: 1.875rem;
    background: var(--2, #E3E9F6);
    color: var(--unnamed, #17181A);
    font-size: 1.25rem;
    font-weight: 400;
    margin: 1.25rem;
    /* 버튼 주위 여백 */
}

/*운동하기*/
.excer-box {
    width: 100%;
    height: 5rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: var(--unnamed, #F2F6FF);
    margin-top: 1.25rem;
}

.excer-contents {
    display: flex;
    align-items: center;
}

.excer-contents #excer-info {
    color: #000;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.excer-info-box {
    margin-top: 1.25rem;
    margin-left: 1.25rem;
    flex-grow: 1;
    white-space: nowrap;
    /* 텍스트 줄 바꿈 방지 */
    text-overflow: ellipsis;
    /* 넘치면 생략 부호(...) 표시 */
}

.excer-btn {
    height: 3.125rem;
    flex-shrink: 0;
    border-radius: 1.875rem;
    background: var(--1, #959AA4);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.94rem;
    margin-right: 1.25rem;
}

.excer-btn #text-not-yet {
    color: var(--unnamed, #F2F6FF);
    font-size: 20px;
    font-weight: 400;
}

.user-excer-list {
    margin-top: 1.25rem;
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.user-excer-list button {
    border-radius: 1.875rem;
    background: var(--2, #E3E9F6);
    color: var(--unnamed, #17181A);
    font-size: 1.25rem;
    font-weight: 400;

    white-space: nowrap;
    /* 줄 바꿈 방지 */
}

.user-excer-list #detail-excer {
    border-radius: 1.875rem;
    background: var(--2, #E3E9F6);
    color: var(--unnamed, #17181A);
    font-size: 1.25rem;
    font-weight: 400;
    margin: 1.25rem;
    /* 버튼 주위 여백 */
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

.image-container {
    display: inline-block;
    /* 이미지 컨테이너를 인라인 블록으로 표시 */
}

.excer-btn,
.eat-drug-btn {
    padding: 0;
    /* 버튼 내부의 여백 제거 */
    border: none;
    /* 버튼 테두리 제거 */
    background: none;
    /* 배경 제거 */
}

#default-image,
#new-image,
#new-image2 {
    display: block;
    /* 이미지를 블록 요소로 표시 */
    width: 100%;
    /* 이미지의 너비를 100%로 설정 */
    height: auto;
    /* 이미지의 높이를 자동으로 조정하여 비율 유지 */
}