/*전체 Frame 시작!*/
* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainFrame {
    background: #FFF;
    width: 50%;
    position: relative;
}

.subFrame {
    padding: 5%;
}

button {
    border: none;
    background: none;
}

/*각자의 margin값*/
.who_message,
.today_munan,
.daily_health {
    margin-top: 60px;
}

.munan_message,
.who_message,
.today_munan,
.daily_health,
.munan_contents,
.main-box {
    width: 100%;
}

/*전체 Frame 끝*/

/*header base.css 대체*/
/*footer base.css 대체*/

/*main 시작*/
/*오늘 000님에게 온 문안 메세지*/
.munan_title {
    display: flex; 
    align-items: center;
}

.title_content {
    display: flex;
    align-items: center;
    margin-right: 20px; /* 원하는 margin-right 값으로 조정 */
}

.munan_title #today_message {
    color: var(--unnamed, #FF003A);
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
    margin-right: 96px; /* p와 button 간격을 주기 위해 추가 */
}

.munan_title #message_count {
    width: 55px;
    height: 34px;
    display: inline-flex;
    padding: 5px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: var(--unnamed, #FF003A);
    color: var(--unnamed, #F2F6FF);
    font-size: 1.2rem; 
    font-weight: 700;
    border: none;
}

/*real 메세지 박스*/
.munan_contents {
    height: 132px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--unnamed, #F2F6FF);
    margin-top: 20px;
    display: flex;
    padding-top: 20px;
    align-items: flex-start;
}

.user-icon {
    margin-left: 20px;
    align-self: flex-start;
}

.user-text {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info #user-name {
    color: var(--unnamed, #17181A);
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0;
}

.user-info #day {
    color: var(--1, #959AA4);
    font-size: 1rem;
    font-weight: 400;
    margin-left: 14px;
    margin-top: 10px;
    margin-bottom: 0;
    margin-right: 0;
}

.user-message {
    color: var(--unnamed, #17181A);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 30px;
    margin-top: 8px;
    width: 208px;
    max-height: 60px;
    overflow: hidden;
}

.call-button {
    margin-left: auto;
    align-self: flex-end;
    margin-right: 20px;
    margin-bottom: 52px; 
}

.call-button button {
    width: 8vw; 
    height: 60px;
    flex-shrink: 0;
    border-radius: 40px;
    background: var(--unnamed, #FF003A);
    color: var(--unnamed, #F2F6FF);
    font-size: 1.2rem;
    font-weight: 700;
    white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
    overflow: hidden; /* 넘치는 부분은 숨기기 */
    text-overflow: ellipsis; /* 넘치면 생략 부호(...) 표시 */
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */
}

/*누구에게 문안인사를 해볼까요?*/
.who_message #today_message {
    color: var(--unnamed, #FF003A);
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
}

.user-account-icon {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
    flex-wrap: wrap; /* 수정된 부분: 가로 줄바꿈 설정 추가 */
}
 

.user-account-icon button {
    background: none;
    border: none;
    padding: 0;
}

.account {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.account button {
    background: none;
    border: none;
    padding: 0;
    position: relative;
}

.account p {
    color: var(--unnamed, #17181A);
    font-size:1.2rem;
    font-weight: 700;
    margin-top: 8px;
    width: max-content;
    margin: 0;
}

.account #plus {
    color: var(--1, #959AA4);
    margin-top: 8px;
}

.overlap-button {
    margin-right: 0;
    position: relative;
}

.user-account-icon p {
    color: var(--unnamed, #17181A);
    font-size:1.2rem;
    font-weight: 700;
    margin-top: 8px;
}

#overlap-button img:nth-child(2) {
    /* 이미지 겹치기 설정 */
    position: absolute;
    top: 50%;
    left: -50%;
}


/*클릭 한번으로 보내는 오늘의 문안인사*/
.click-munan {
    margin-top: 31px;
    display: flex;
    flex-direction: column;
}

.click-munan #click-munan-title {
    color: var(--unnamed, #17181A);
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.munan-list {
    width: 100%;
    height: 132px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--unnamed, #F2F6FF);
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 20px;
}

.munan-list-text {
    position: absolute;
    left: 5%;
    color: var(--unnamed, #17181A);
    font-size: 1.5rem; 
    font-weight: 400;
    line-height: 34px;
    margin-right: 138px;
    width: calc(100% - 168px); /* 수정된 부분: 텍스트의 최대 너비 설정 */
    max-height: 68px; /* 수정된 부분: 텍스트의 최대 높이 설정 */
    overflow: hidden; /* 텍스트 넘치는 부분은 숨기기 */
    text-overflow: ellipsis; /* 넘치면 생략 부호(...) 표시 */
}

.munanDropdownImg {
    width: 14.82px;
    height: 24px;
    flex-shrink: 0;
    fill: var(--unnamed, #17181A);
    position: absolute;
    right: 5%;
}

.munan-menu-list {
    width: 100%;
    position: absolute;
    top: 100%;
    border-radius: 10px;
    background: var(--2, #E3E9F6);
    border-top: 1px solid var(--unnamed, #F2F6FF);
    z-index: 1;
    display: none;
}

.munan-menu-list-detail {
    list-style: none;
    margin: 25px 0;
}

.munan-menu-list-detail li {
    margin-top: 40px;
    color: var(--unnamed, #17181A);
    font-size: 24px;
    font-weight: 400;
    transition: color 0.3s;
    cursor: pointer;
}

.munan-menu-list-detail li:hover,
.munan-menu-list-detail li:focus {
    color: #FF003A;
    font-weight: 700;
}

.munan-menu-list-detail #user-text {
    color: var(--1, #959AA4);
    font-weight: 400;
}

#addValue {
    background: var(--2, #E3E9F6);
    border: none;
    width: 140px;
    height: 34px;
}

#addValue::placeholder {
    color: var(--1, #959AA4);
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
}

/*전송하기 버튼*/
.sand-box {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sand-box button {
    margin-top: 60px;
    width: 25vw;
    height: 60px;
    flex-shrink: 0;
    border-radius: 30px;
    background: var(--unnamed, #FF003A);
    color: var(--unnamed, #F2F6FF);
    font-size: 1.5rem;
    cursor: pointer; 
    font-weight: 700;
}

/*잠깐! 오늘 하루, 무난했나요?*/
.today_munan {
    width: 100%;
    height: 377px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--unnamed, #F2F6FF);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.today-question {
    color: var(--unnamed, #FF003A);
    font-size: 2.5rem; 
    font-weight: 700;
    margin-top: 20px;
}

.check-myday {
    margin-top: 20px;
}

.check-myday button {
    background: none;
    border: none;
    width: 25vw;
    height: 60px;
    flex-shrink: 0;
    border-radius: 30px;
    background: var(--unnamed, #FF003A);
    color: var(--unnamed, #F2F6FF);
    font-size: 24px;
    cursor: pointer; 
    font-weight: 700;
}


.feel-icon {
    display: flex;
    align-items: center;
    gap: 10px; /* 이미지 사이의 간격 조정 */
    margin-top: 20px;
    overflow-x: auto; /* 가로 스크롤 생성 */
    white-space: nowrap; /* 줄 바꿈 방지 */
}

.expressionImg {
    width: auto; /* 이미지 너비 설정 */
    height: auto; /* 이미지 높이 설정 */
    flex-shrink: 0; /* 이미지가 줄어들지 않도록 설정 */
}

/*간단하게 표시하는 나의 건강한 일상*/
.daily_health {
    margin-top: 60px;
}

.daily_health p {
    color: var(--unnamed, #FF003A);
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
}

.eat-drug-box {
    width: 100%;
    height: 80px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--unnamed, #F2F6FF);
    margin-top: 20px;
}

.eat-drug-contents {
    display: flex;
    align-items: center;
}

.eat-drug-contents #eat-info {
    color: #000;
    font-size:  1.5rem;
    font-weight: 700;
    margin:0;
}

.eat-info-box{ 
    margin-top: 16px;
    margin-left: 19px;
    flex-grow: 1;
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
    text-overflow: ellipsis; /* 넘치면 생략 부호(...) 표시 */
}

.eat-drug-btn  {
    height: 50px;
    flex-shrink: 0;
    border-radius: 30px;
    background: var(--1, #959AA4);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-right: 5%;
}

.eat-drug-btn #text-not-yet {
    color: var(--unnamed, #F2F6FF);
    font-size: 20px;
    font-weight: 400;
}

.user-drug-list {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-drug-list button{
    border-radius: 30px;
    background: var(--2, #E3E9F6);
    color: var(--unnamed, #17181A);
    font-size: 20px;
    font-weight: 400;

    white-space: nowrap; /* 줄 바꿈 방지 */
}

.user-drug-list #detail-drug{
    border-radius: 30px;
    background: var(--2, #E3E9F6);
    color: var(--unnamed, #17181A);
    font-size: 20px;
    font-weight: 400;
    margin: 5px; /* 버튼 주위 여백 */
}

/*운동하기*/
.excer-box{ 
    width: 100%;
    height: 80px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--unnamed, #F2F6FF);
    margin-top: 20px;
}

.excer-contents {
    display: flex;
    align-items: center;
}

.excer-contents #excer-info {
    color: #000;
    font-size:  1.5rem;
    font-weight: 700;
    margin:0;
}

.excer-info-box{ 
    margin-top: 16px;
    margin-left: 19px;
    flex-grow: 1;
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
    text-overflow: ellipsis; /* 넘치면 생략 부호(...) 표시 */
}

.excer-btn {
    height: 50px;
    flex-shrink: 0;
    border-radius: 30px;
    background: var(--1, #959AA4);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-right: 5%;
}

.excer-btn #text-not-yet {
    color: var(--unnamed, #F2F6FF);
    font-size: 20px;
    font-weight: 400;
}

.user-excer-list {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-excer-list button{
    border-radius: 30px;
    background: var(--2, #E3E9F6);
    color: var(--unnamed, #17181A);
    font-size: 20px;
    font-weight: 400;

    white-space: nowrap; /* 줄 바꿈 방지 */
}

.user-excer-list #detail-excer{
    border-radius: 30px;
    background: var(--2, #E3E9F6);
    color: var(--unnamed, #17181A);
    font-size: 20px;
    font-weight: 400;
    margin: 5px; /* 버튼 주위 여백 */
}

.user-excer-list button{
    border-radius: 30px;
    background: var(--2, #E3E9F6);
    color: var(--unnamed, #17181A);
    font-size: 20px;
    font-weight: 400;

    white-space: nowrap; /* 줄 바꿈 방지 */
}

a {
    text-decoration: none;
    color: inherit; 
}

a:hover {
    color: inherit;
}
/*main 끝*/