.subFrame {
    padding: 5%;
}

.recordTextBox>p {
    margin: 0;
}

.recordText {
    color: var(--unnamed, #FF003A);
    font-family: Pretendard;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    /* 138.889% */
}

.recordSubText {
    color: var(--unnamed, #17181A);
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    padding-top: 1vh;
}

.mainUserId {
    color: var(--unnamed, #FF003A);
    font-weight: 700;
}

/* 표정 선택 박스 */
.selectFaceBox {
    width: 100%;
}

.selectFaceText,
.emotionText,
.reasonText {
    color: var(--unnamed, #17181A);
    font-family: Pretendard;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    /* 156.25% */
    margin-top: 60px;
}

.selectFaceImgBox {
    display: flex;
    gap: 3%;
    margin-top: 20px;
}

.Face {
    width: 8vw;
    height: 220px;
    flex-shrink: 0;
    border-radius: 100px;
    background: var(--unnamed, #F2F6FF);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Face>img {
    width: 68.688px;
    height: 94.199px;
    flex-shrink: 0;
}

.Face>p {
    color: var(--unnamed, #17181A);
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.emotionBox {
    margin-top: 60px;
}

.emotionTextBox {
    position: relative;
}

#receiveEmotionText{
    border: none; /* 테두리 없애기 */
    outline: none; /* 포커스 아웃라인 제거 */
    resize: none; /* 크기 조절 불가능하게 설정 */
    padding: 0; /* 내부 여백 제거 */
}
#receiveEmotionText::placeholder {
    padding: 2%; /* 원하는 간격 설정 */
    white-space: pre-line;

}

/* 사용자의 글 작성 */
#receiveEmotionText {
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--unnamed, #F2F6FF);
    font-size: 20px;
    text-align: left;
}

#receiveEmotionText::placeholder {
    color: var(--1, #959AA4);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    /* 141.667% */
}

.mikeImg {
    position: absolute;
    top: 5%;
    right: 2%;
    z-index: 0;
}

/* 입력 완료 버튼 */
.inputCompletedBox {
    margin-top: 80px;
    text-align: center;
}

.inputCompletedButton {
    width: 30vw;
    height: 60px;
    flex-shrink: 0;
    border-radius: 30px;
    background: var(--unnamed, #FF003A);
    border: none;
    color: var(--unnamed, #F2F6FF);
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}


/* 이유 선택 메뉴 */
.selectReasonBox {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* 드롭다운 */
.reasonOptionBox {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.reasonMenuImg {
    width: 6vw;
    height: 80px;
    flex-shrink: 0;
}

.reasonMenuBox {
    width: 85%;
    height: 80px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--unnamed, #F2F6FF);
    display: flex;
    align-items: center;
    position: relative;
}

.reasonMenuText {
    color: var(--unnamed, #17181A);
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    left: 5%;
}

.reasonDropdownImg {
    width: 14.82px;
    height: 24px;
    flex-shrink: 0;
    fill: var(--unnamed, #17181A);
    position: absolute;
    right: 5%;
    cursor: pointer;
}

.reasonMenu {
    width: 100%;
    position: absolute;
    top: 100%;
    border-radius: 10px;
    background: var(--2, #E3E9F6);
    border-top: 1px solid var(--unnamed, #F2F6FF);
    z-index: 1;
    display: none;
}

.reasonMenuOption {
    list-style: none;
    margin: 25px 0;
}

.reasonMenuOption li {
    margin-top: 40px;
    color: var(--unnamed, #17181A);
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

#directText {
    width: 100%;
    border-radius: 10px;
    background: var(--2, #E3E9F6);
    flex-shrink: 0;
    font-size: 20px;
    position: relative;
}

#directText::placeholder {
    color: var(--1, #959AA4);
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 5%;
    left: 2%;
}

/* 팝업 박스 */
.savePopUp {
    width: 80%;
    height: 200px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--unnamed, #F2F6FF);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 10%;
}

.savePopUpContent {
    color: var(--unnamed, #17181A);
    text-align: center;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 166.667% */
}

.saveConfirmBox {
    padding: 4px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: var(--unnamed, #FF003A);
    cursor: pointer;
}

.saveConfirmButton {
    color: var(--unnamed, #F2F6FF);
    text-align: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 200% */
    border: none;
    background: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit; 
}

a:hover {
    color: inherit;
}