* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    /* margin: 114px 50vw 187px 50vw; */
    /* margin: 0 5vw; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainFrame {
    margin-top: 5vw;
    background: #FFF;
    width: 50%;
    position: relative;
}

.mainFrame h1 {
    color: var(--unnamed, #FF003A);
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

header {
    margin-bottom: 3vw;
}

.join {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: relative;
}

.join div {
    position: relative;
    width: 100%;
}

.join .mainText {
    color: var(--unnamed, #17181A);
    /* 메인 제목 볼드 16 */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.join .checkTextId,
.checkTextPassword,
.checkTextPasswordRepeat {
    display: inline-block;
    margin: 0;
    margin-left: 8px;
    position: absolute;
    bottom: 5px;
    color: var(--1, #959AA4);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.join input {
    width: 100%;
    height: 60px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--unnamed, #F2F6FF);
    border: none;
    margin: 0;
    margin-top: 4px;
    margin-bottom: 7px;
}

.join .checkImg {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    /* margin-top: 7px; */
}

.passwordBox {
    position: relative;
}

.passwordBox .hiddenImg1,
.hiddenImg2 {
    position: absolute;
    right: 5%;
    bottom: 45%;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.buttonBox {
    margin-top: 177px;
    text-align: center;
}

.joinButton {
    width: 30vw;
    height: 60px;
    flex-shrink: 0;
    border-radius: 30px;
    background: var(--unnamed, #FF003A);
    border: none;
    color: var(--unnamed, #F2F6FF);
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}