body {
    width: 100vw;
    /* margin: 114px 50vw 187px 50vw; */
    /* margin: 0 5vw; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainFrame {
    margin-top: 5vw;
    background: #FFF;
    width: 50%;
    position: relative;
}
.subFrame{
    padding:5%;
}

#selected-username{
    color: var(--unnamed, #FF003A);
    font-family: Pretendard;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.125rem; /* 138.889% */
}

.selecttarget{
    color: var(--unnamed, #FF003A);
    font-family: Pretendard;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.125rem; /* 138.889% */
}

#connected-accounts {
    display: flex;
    justify-content: flex-start; /* 왼쪽으로 가로 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
}

.accountbox {
    display: flex;
    flex-direction: column;
    align-items: center; /* 가운데 정렬 */
    padding: 2%; /* 각 계정 사이에 간격 추가 */
}

#connected-accounts > .accountbox > .accountimagebox {
    background-color: #F2F6FF; /* 배경색을 회색으로 설정 */
    border-radius: 10px; /* border-radius를 사용하여 정사각형 모양으로 조절 */
    width: 6.25rem;
    height: 6.25rem;
    flex-shrink: 0;
    margin-bottom: 10px; /* 이미지와 나머지 요소 사이 간격 추가 */
    display: flex;
    justify-content: center;
    align-items: center;
}

#connected-accounts > .accountbox> .accountimagebox > img{
    padding:2%;
    width: 3.55475rem;
    height: 4.87481rem;
}

hr{
    display: block;
    border: none; /* 기본적으로 있는 테두리를 없앰 */
    background: #E3E9F6; /* 원하는 배경색 지정 */
    height: 0.1875rem;
    margin: 1rem 0; /* 위 아래 여백 추가 */
}

.emptyment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.emptyment > p{
    color: var(--1, #959AA4);
    text-align: center;
    font-family: Pretendard;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.125rem; /* 156.25% */
}

.calendarbox, .recordbox{
    display:none;
}

.calendarbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

#monthSelect {
    border: none; 
    color: #000;
    font-family: Pretendard;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.125rem; /* 106.25% */
}

.daysbox {
    flex-direction: column;
    align-items: center;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 0.5rem 0;
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
}

.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

/* .date-border, .empty 스타일 */
.date-border, .empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 100%;
    height: 7rem;
    border: 1px solid #ccc;
}


.date{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 70%;
    height: 6rem;
    border-radius: 65px;
    padding: 5px;
}


.selected-date {
    border: 2px solid red; /* 빨간색 테두리 스타일 */
}

.date > div{
    display: flex;
}

.date > img{
    margin-top: 0.5rem;
    width: 3.55475rem;
    height: 4.87481rem;
}

.selectedDay{
    color: var(--unnamed, #17181A);
    font-family: Pretendard;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 156.25% */
}

.selectedrecord{
    border-radius: 20px;
    background: var(--unnamed, #F2F6FF);   
    padding:3% 
}

.selectedrecord > .expressionbox> img{
    width: 3.55475rem;
    height: 4.87481rem;
}

.selectedrecord > .ment{
    color: var(--unnamed, #17181A);
    font-family: Pretendard;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.selectedrecord > .expressionbox{
    display: flex;
    align-items: center;
}

.selectedrecord > .expressionbox > p{
    margin-left:2%;
    color: var(--unnamed, #17181A);
    font-family: Pretendard;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.reasonbox > .reason{
    display: flex;
    align-items: center;
    margin-bottom:3%;
}

.reasonbox > .reason > .reasonContent{
    margin-left:2%;
}

.reasonbox > .reason > .reasonContent> div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reasonbox > .reason > .reasonContent> div> .reasonment{
    color: var(--unnamed, #17181A);
    font-family: Pretendard;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.todaycontent{
    border-radius: 20px;
    background: var(--unnamed, #FFF);
    padding:1%;
    color: var(--unnamed, #17181A);
    font-family: Pretendard;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ment2{
    color: var(--unnamed, #17181A);
    font-family: Pretendard;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}