.passwordFieldBox {
    position: relative;
}

#loginHiddenImg {
    position: absolute;
    right: 5%;
    bottom: 40%;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}
.saveBox {
    margin-top: 40px;
}

.checkButton {
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

.checkTextPassword.saved {
    color: #FF003A;
}

.error-message {
    display: flex;
    color: #08044E;
    margin-top:-1vw;
}